.message {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.messageTop {
  display: flex;
  font-size: 14px;
}


.messageText {
  padding: 2px 10px;
  border-radius: 6px;
  background-color: #fff;
  color: #011627;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.messageBottom {
  font-size: 10px;
}

.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  background-color: #dee9ff;
  color: #011627;
}
